<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpmip.dao.FinalMapper" >
  <resultMap id="BaseResultMap" type="com.cpmip.pojo.Final" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="final_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="construname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="startid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="final_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="build" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="buildopinion" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="construction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="constructionopinion" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qsadname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qsadopinion" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="submit_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, final_id, construname, position, area, type, money, startid, start_time, final_time, 
    build, buildopinion, construction, constructionopinion, qsadname, qsadopinion, submit_time, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cpmip_final
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cpmip_final
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cpmip.pojo.Final" >
    insert into cpmip_final (id, final_id, construname, 
      position, area, type, 
      money, startid, start_time, 
      final_time, build, buildopinion, 
      construction, constructionopinion, qsadname, 
      qsadopinion, submit_time, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{finalId,jdbcType=INTEGER}, #{construname,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{startid,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{finalTime,jdbcType=TIMESTAMP}, #{build,jdbcType=VARCHAR}, #{buildopinion,jdbcType=VARCHAR}, 
      #{construction,jdbcType=VARCHAR}, #{constructionopinion,jdbcType=VARCHAR}, #{qsadname,jdbcType=VARCHAR}, 
      #{qsadopinion,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.cpmip.pojo.Final" >
    insert into cpmip_final
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="finalId != null" >
        final_id,
      </if>
      <if test="construname != null" >
        construname,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="startid != null" >
        startid,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="finalTime != null" >
        final_time,
      </if>
      <if test="build != null" >
        build,
      </if>
      <if test="buildopinion != null" >
        buildopinion,
      </if>
      <if test="construction != null" >
        construction,
      </if>
      <if test="constructionopinion != null" >
        constructionopinion,
      </if>
      <if test="qsadname != null" >
        qsadname,
      </if>
      <if test="qsadopinion != null" >
        qsadopinion,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="finalId != null" >
        #{finalId,jdbcType=INTEGER},
      </if>
      <if test="construname != null" >
        #{construname,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="startid != null" >
        #{startid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalTime != null" >
        #{finalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="build != null" >
        #{build,jdbcType=VARCHAR},
      </if>
      <if test="buildopinion != null" >
        #{buildopinion,jdbcType=VARCHAR},
      </if>
      <if test="construction != null" >
        #{construction,jdbcType=VARCHAR},
      </if>
      <if test="constructionopinion != null" >
        #{constructionopinion,jdbcType=VARCHAR},
      </if>
      <if test="qsadname != null" >
        #{qsadname,jdbcType=VARCHAR},
      </if>
      <if test="qsadopinion != null" >
        #{qsadopinion,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cpmip.pojo.Final" >
    update cpmip_final
    <set >
      <if test="finalId != null" >
        final_id = #{finalId,jdbcType=INTEGER},
      </if>
      <if test="construname != null" >
        construname = #{construname,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="startid != null" >
        startid = #{startid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalTime != null" >
        final_time = #{finalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="build != null" >
        build = #{build,jdbcType=VARCHAR},
      </if>
      <if test="buildopinion != null" >
        buildopinion = #{buildopinion,jdbcType=VARCHAR},
      </if>
      <if test="construction != null" >
        construction = #{construction,jdbcType=VARCHAR},
      </if>
      <if test="constructionopinion != null" >
        constructionopinion = #{constructionopinion,jdbcType=VARCHAR},
      </if>
      <if test="qsadname != null" >
        qsadname = #{qsadname,jdbcType=VARCHAR},
      </if>
      <if test="qsadopinion != null" >
        qsadopinion = #{qsadopinion,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cpmip.pojo.Final" >
    update cpmip_final
    set final_id = #{finalId,jdbcType=INTEGER},
      construname = #{construname,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      startid = #{startid,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      final_time = #{finalTime,jdbcType=TIMESTAMP},
      build = #{build,jdbcType=VARCHAR},
      buildopinion = #{buildopinion,jdbcType=VARCHAR},
      construction = #{construction,jdbcType=VARCHAR},
      constructionopinion = #{constructionopinion,jdbcType=VARCHAR},
      qsadname = #{qsadname,jdbcType=VARCHAR},
      qsadopinion = #{qsadopinion,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>