<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpmip.dao.ZlsgMapper" >
  <resultMap id="BaseResultMap" type="com.cpmip.pojo.Zlsg" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="construname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="build" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="construction" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="accident" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="happen_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="report_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="actions" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, construname, build, construction, position, accident, happen_time, report_time, 
    money, reason, actions, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cpmip_zlsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cpmip_zlsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cpmip.pojo.Zlsg" >
    insert into cpmip_zlsg (id, construname, build, 
      construction, position, accident, 
      happen_time, report_time, money, 
      reason, actions, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{construname,jdbcType=VARCHAR}, #{build,jdbcType=VARCHAR}, 
      #{construction,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{accident,jdbcType=VARCHAR}, 
      #{happenTime,jdbcType=TIMESTAMP}, #{reportTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DECIMAL}, 
      #{reason,jdbcType=VARCHAR}, #{actions,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.cpmip.pojo.Zlsg" >
    insert into cpmip_zlsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="construname != null" >
        construname,
      </if>
      <if test="build != null" >
        build,
      </if>
      <if test="construction != null" >
        construction,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="accident != null" >
        accident,
      </if>
      <if test="happenTime != null" >
        happen_time,
      </if>
      <if test="reportTime != null" >
        report_time,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="actions != null" >
        actions,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="construname != null" >
        #{construname,jdbcType=VARCHAR},
      </if>
      <if test="build != null" >
        #{build,jdbcType=VARCHAR},
      </if>
      <if test="construction != null" >
        #{construction,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="accident != null" >
        #{accident,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null" >
        #{happenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportTime != null" >
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="actions != null" >
        #{actions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cpmip.pojo.Zlsg" >
    update cpmip_zlsg
    <set >
      <if test="construname != null" >
        construname = #{construname,jdbcType=VARCHAR},
      </if>
      <if test="build != null" >
        build = #{build,jdbcType=VARCHAR},
      </if>
      <if test="construction != null" >
        construction = #{construction,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="accident != null" >
        accident = #{accident,jdbcType=VARCHAR},
      </if>
      <if test="happenTime != null" >
        happen_time = #{happenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportTime != null" >
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="actions != null" >
        actions = #{actions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cpmip.pojo.Zlsg" >
    update cpmip_zlsg
    set construname = #{construname,jdbcType=VARCHAR},
      build = #{build,jdbcType=VARCHAR},
      construction = #{construction,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      accident = #{accident,jdbcType=VARCHAR},
      happen_time = #{happenTime,jdbcType=TIMESTAMP},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DECIMAL},
      reason = #{reason,jdbcType=VARCHAR},
      actions = #{actions,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>